body {
	font-family: 'Metric', Helvetica, Arial, sans-serif;
	font-size: 14pt;
	touch-action: manipulation;
}
a {
	color: $primary-color;
}
img {
	height: auto;
	width: 100%;
	max-width: 100%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
section {
	padding: $h-navbar $padding-md $h-tabbar $padding-md;
	
	.empty {
		color: $light-color;
		display: flex;
		align-items: center;
		font-weight: normal;
		justify-content: center;
		height: 100vh;
	}
}
