.lista-links {
	li {
		border-bottom: 1px solid $light-color;
		
		a {
			color: $gray-color;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: $padding-md 0;
			
			span {
				font-size: 12pt;
				display: flex;
			}
		}
	}
}
.texto-info {
	color: darken($gray-color, 30%);
	font-size: 13pt;
	line-height: 1.8;
	
	p {
		margin-bottom: 12pt;
	}
}