$h-navbar: 44pt;
$h-tabbar: 49pt;
$padding-sm: 8pt;
$padding-md: 16pt;

//colors
$light-bg: #F3F3F3;

$light-color: #ccc;
$gray-color: #acacac;
$primary-color: #111;
$success-color: #87E87A;
$danger-color: #FA4D4D;