nav {
	background: $light-bg;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: $h-tabbar;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
	> a {
		color: $gray-color;
		width: 16pt;
		
		&.active {
			color: $primary-color;
		}
	}
	.icon {
		font-size: 16pt;
	}
}